@import "tailwindcss";

:root {
    --primary-clr: oklch(59.207% 0.21386 257.434); /* #0077f9 */
    --secondary-clr: oklch(83.854% 0.17086 83.341); /* #ffc107 */
    --dark-blue-clr: oklch(47.952% 0.16437 256.113); /* #0058b8 */
    --grad-blue-to-dark-clr: linear-gradient(
        to right,
        var(--primary-clr) 0%,
        var(--dark-blue-clr) 100%
    );
    --bold-text-clr: oklch(26.035% 0.00983 268.315); /* #222329 */
    --regular-text-clr: black;
    --accent-clr: oklch(54.879% 0.01443 229.287); /* #6b747b */
    --bg-primary-clr: white;
    --bg-secondary-clr: oklch(98.032% 0.01383 219.982); /* #f0f8ff */

    --fs-h2: 2.4rem;
    --fs-btn-lg: 1.8rem;
    --fs-h3: 1.8rem;
    --fs-btn-sm: 1.4rem;
    --fs-text: 1.4rem;

    --fw-h: 700;
    --fw-btn: 600;
    --fw-label: 500;
    --fw-text: 400;

    --padding-g: 12px;
    --padding-bigger: 12px 22px;
    --padding-exp: 22px 12px;
    --gap: 5rem;
    --b-r: 12px;
}

html {
    font-size: 10px;
    /* @apply transition-all; */
}

h2 {
    @apply text-(--primary-clr) font-(--fw-h);
    font-size: var(--fs-h2);
}

h3 {
    @apply font-(--fw-h);
    font-size: var(--fs-h3);
}

.btn {
    @apply rounded-(--b-r) cursor-pointer hover:bg-none hover:bg-transparent font-(--fw-btn) aspect-auto;
    font-size: var(--fs-btn-lg);
}

.btn--primary {
    @apply h-[5rem] text-(--bg-primary-clr) hover:bg-(--bg-primary-clr) hover:text-(--primary-clr) hover:shadow-[0_0_0_2px_inset_var(--primary-clr)];
    background: var(--grad-blue-to-dark-clr);
}

.btn--small {
    @apply text-(--bg-primary-clr) bg-(--primary-clr) aspect-square w-12  hover:bg-(--dark-blue-clr);
}

.btn--modal {
    @apply h-[3rem] w-fit px-5;
    font-size: var(--fs-text);
}

.btn--secondary {
    @apply text-(--accent-clr) shadow-[0_0_0_2px_inset_var(--accent-clr)] hover:text-(--bg-primary-clr) hover:bg-(--accent-clr);
}

.btn--exp {
    @apply text-(--bg-primary-clr) bg-(--secondary-clr) shadow-[0_0_0_2px_inset_var(--secondary-clr)] hover:text-(--secondary-clr);
}

.center {
    background: url("../images/workers-studio-87kb.webp") no-repeat
        center/contain;
    /* background-size: 100%; */
    /* color: */
}

.rooms {
    grid-template-columns: repeat(2, 19%) 16.5% repeat(2, 23%);
    grid-template-rows: auto auto auto;
    /* grid-auto-columns: 19%; */
    grid-template-areas:
        "room-1 room-1 passage-1 room-2 room-3"
        "room-4 room-4 passage-2 passage-2 passage-2"
        "room-4 room-4 passage-3 room-5 room-6";
}

.room {
    @apply flex flex-col items-center pb-3 relative;
}

.room span {
    @apply font-(--fw-label) text-(--bold-text-clr) relative top-[40%] text-shadow-[0_0_4px_var(--bg-secondary-clr)];
    /* font-size: var(--fs-text); */
    font-size: 1vw;
}

.room button {
    @apply absolute bottom-[5%];
}

/* .passage {
    width: 90%;
} */
/* .room {
    width: 98.5%;
    height: 97%;
    margin-bottom: 0.5%;
} */

#room-1 {
    grid-area: room-1;
    /* background-color: rgba(0, 128, 0, 0.697); */

    width: 98.5%;
    height: 96%;
    /* margin-bottom: 0.4%; */
}
#room-2 {
    grid-area: room-2;
    /* background-color: rgba(137, 43, 226, 0.697); */
}
#room-3 {
    grid-area: room-3;
    /* background-color: rgba(0, 128, 0, 0.697); */
}
#room-4 {
    grid-area: room-4;
    /* background-color: rgba(137, 43, 226, 0.697); */
    width: 98.5%;
    height: 99%;
}
#room-5 {
    grid-area: room-5;
    /* background-color: rgba(0, 128, 0, 0.697); */

    width: 94%;
    margin-left: 4%;
}
#room-6 {
    grid-area: room-6;
    /* background-color: rgba(137, 43, 226, 0.697); */

    /* height: 99%; */
}

#passage-1 {
    grid-area: passage-1;
    /* background-color: rgba(255, 217, 0, 0.697); */

    height: 107%;
    width: 96%;
}
#passage-2 {
    grid-area: passage-2;
    /* background-color: rgba(255, 255, 255, 0.697); */

    width: 98.3%;
    margin-left: 1%;
    height: 132%;
    margin-top: 2%;
}
#passage-3 {
    grid-area: passage-3;
    /* background-color: rgba(255, 217, 0, 0.697); */

    margin-top: 15%;
    width: 97%;
    height: 87%;
}

#room-2,
#room-3 {
    width: 95%;
    margin-left: 3%;
    height: 99%;
}

#room-5,
#room-6 {
    height: 72%;
    margin-top: 28%;
}

#room-3,
#room-6 {
    margin-left: 2%;
    width: 96%;
}

.passage:not(#passage-2) {
    margin-left: 3%;
}

/* customize flowbite modal */

label {
    @apply font-(--fw-label) text-(--accent-clr) block mb-2;
}

.img {
    @apply rounded-[50%] aspect-square border-2;
}

.img--modal {
    @apply h-[8rem] border-(--accent-clr);
}

.img--sidebar {
    @apply h-full border-(--primary-clr);
}
