@import "tailwindcss";

:root {
    --primary-clr: oklch(59.207% 0.21386 257.434); /* #0077f9 */
    --secondary-clr: oklch(72.459% 0.14732 83.356); /* #ffc107 */
    --dark-blue-clr: oklch(47.952% 0.16437 256.113); /* #0058b8 */
    --grad-blue-to-dark-clr: linear-gradient(
        to right,
        var(--primary-clr) 0%,
        var(--dark-blue-clr) 100%
    );
    --bold-text-clr: oklch(26.035% 0.00983 268.315); /* #222329 */
    --regular-text-clr: black;
    --accent-clr: oklch(54.879% 0.01443 229.287); /* #6b747b */
    --bg-primary-clr: white;
    --bg-secondary-clr: oklch(98.032% 0.01383 219.982); /* #f0f8ff */

    --fs-h2: 2.4rem;
    --fs-btn-lg: 1.8rem;
    --fs-h3: 1.8rem;
    --fs-btn-sm: 1.4rem;
    --fs-text: 1.4rem;

    --fw-h: 700;
    --fw-btn: 600;
    --fw-label: 500;
    --fw-text: 400;

    --padding-g: 12px;
    --padding-bigger: 12px 22px;
    --padding-exp: 22px 12px;
    --gap: 5rem;
    --b-r: 12px;
}

html {
    font-size: 10px;
    /* @apply transition-all; */
}

h2 {
    @apply text-(--primary-clr) font-(--fw-h);
    font-size: var(--fs-h2);
}

h3 {
    @apply font-(--fw-h);
    font-size: var(--fs-h3);
}

.btn {
    @apply rounded-(--b-r) cursor-pointer hover:bg-none hover:bg-transparent font-(--fw-btn) aspect-auto items-center justify-center;
    font-size: var(--fs-btn-lg);
}

.btn--primary {
    @apply h-[5rem] text-(--bg-primary-clr) hover:bg-(--bg-primary-clr) hover:text-(--primary-clr) hover:shadow-[0_0_0_2px_inset_var(--primary-clr)];
    background: var(--grad-blue-to-dark-clr);
}

.btn--small {
    @apply text-(--bg-primary-clr) bg-(--primary-clr) aspect-square inline-flex hover:bg-(--dark-blue-clr);
}

.btn--edit {
    @apply bg-(--secondary-clr) text-shadow-2xs rounded-(--b-r) aspect-auto px-2 hover:bg-[color-mix(in_oklab,var(--accent-clr)_30%,white_70%)] hover:shadow-[0_0_0_2px_inset_var(--secondary-clr)] hover:text-(--secondary-clr);
}

.btn--delete {
    @apply bg-red-500 text-shadow-2xs rounded-(--b-r) aspect-auto px-2 hover:bg-[color-mix(in_oklab,var(--accent-clr)_30%,white_70%)] hover:shadow-[0_0_0_2px_inset_var(--color-red-500)] hover:text-red-500;
}

.btn--xroom {
    @apply bg-red-500 min-w-8 max-w-8 hover:bg-red-700;
}

.btn--modal {
    @apply h-[3rem] w-fit px-5;
    font-size: var(--fs-text);
}

.btn--secondary {
    @apply text-(--accent-clr) shadow-[0_0_0_2px_inset_var(--accent-clr)] hover:text-(--bg-primary-clr) hover:bg-(--accent-clr);
}

.btn--exp {
    @apply text-(--bg-primary-clr) bg-(--secondary-clr) shadow-[0_0_0_2px_inset_var(--secondary-clr)] hover:text-(--secondary-clr);
}

.worker__btns {
    @apply flex flex-col items-end justify-center h-full min-w-[49px] gap-5 ml-auto;
}

.worker__btns > button {
    font-size: var(--fs-text);
    @apply w-full text-(--bg-primary-clr);
}

.center {
    background: url("../images/workers-studio-87kb.webp") no-repeat
        center/contain;
    /* background-size: 100%; */
    /* color: */
}

.rooms {
    grid-template-columns: repeat(2, 1.65fr) 1.5fr repeat(2, 2fr);
    /* grid-template-rows: auto auto auto; */
    /* grid-auto-columns: 19%; */
    grid-template-areas:
        "room-1 room-1 passage-1 room-2 room-3"
        "room-4 room-4 passage-2 passage-2 passage-2"
        "room-4 room-4 passage-3 room-5 room-6";
}

.rooms--original {
    @apply h-full;
}

.center > .wrapper--original {
    @apply w-full aspect-430/243;
}

.rooms--modified {
    @apply h-[97%];
    grid-auto-rows: 34%;
}

.center > .wrapper--modified {
    @apply h-[97%] aspect-[416/236];
}

.room {
    @apply flex flex-col items-center justify-center relative;
}

.room > span {
    @apply font-(--fw-label) text-(--bold-text-clr) text-shadow-[0_0_4px_var(--bg-secondary-clr)];
    /* font-size: var(--fs-text); */
    @apply absolute top-[5%];
    font-size: 1.2rem;
}

.room > .assigned-workers {
    @apply absolute top-[50%] -translate-y-[50%];
}

.room > button {
    @apply absolute bottom-[3%] h-[2.5rem];
}

/* .passage {
    width: 90%;
} */
/* .room {
    width: 98.5%;
    height: 97%;
    margin-bottom: 0.5%;
} */

/* removed from here */

/* Room styles */
#room-1 {
    grid-area: room-1;
    @apply h-[96%];
    /* @apply bg-[rgba(0,255,255,0.6)]; */
}
#room-2 {
    grid-area: room-2;
    /* @apply bg-[rgba(137,43,226,0.6)]; */
}
#room-3 {
    grid-area: room-3;
    /* @apply bg-[rgba(0,255,255,0.6)]; */
}
#room-4 {
    grid-area: room-4;
    /* @apply bg-[rgba(137,43,226,0.6)]; */
}
#room-5 {
    grid-area: room-5;
    @apply h-[98%];
    /* @apply bg-[rgba(0,255,255,0.6)]; */
}
#room-6 {
    grid-area: room-6;
    @apply h-[98%];
    /* @apply bg-[rgba(137,43,226,0.6)]; */
}

/* Passage styles */
#passage-1 {
    grid-area: passage-1;
    @apply mt-[1%];
    /* @apply bg-[rgba(165,42,42,0.6)]; */
}
#passage-2 {
    grid-area: passage-2;
    @apply ml-[2%] mt-[2%] h-[88%];
    /* @apply bg-[rgba(255,255,255,0.6)]; */
}
#passage-3 {
    grid-area: passage-3;
    @apply mt-[-6%];
    /* @apply bg-[rgba(0,0,255,0.6)]; */
}

/* Grouped custom-margin/height styles */
#passage-1,
#passage-3 {
    @apply ml-[6.5%] h-[104%];
}

#room-2,
#room-5 {
    @apply ml-[3%];
}

#room-3,
#room-6 {
    @apply ml-[3%];
}

.assigned-workers {
    @apply overflow-y-auto flex gap-2 max-w-[80%];
}

.assigned-workers::-webkit-scrollbar {
    @apply bg-transparent w-0 h-0;
}

.assigned-worker {
    @apply py-2 px-1 flex justify-center items-center rounded-(--b-r) gap-3 bg-[color-mix(in_oklab,var(--accent-clr)_40%,white_60%)] max-w-[7.3rem] w-full;
}

.assigned-worker h3 {
    @apply max-w-1/2;
    font-size: smaller !important;
}

/* customize flowbite modal */

label {
    @apply font-(--fw-label) text-(--accent-clr) block mb-2;
}

.img {
    @apply rounded-[50%] aspect-square border-2;
}

.img--modal {
    @apply h-[8rem] border-(--accent-clr);
}

.img--sidebar {
    @apply h-full border-(--primary-clr);
}

.danger {
    @apply text-red-500 mt-1;
}

/* .warning {
    @apply text-yellow-500 mt-1;
} */

.input--danger {
    @apply border-red-500 bg-red-200;
}

.room--danger {
    @apply bg-[#ff898979];
}

.input--valid {
    @apply border-green-500 bg-green-200;
}

article[worker-id] {
    @apply cursor-pointer ring-inset ring-amber-300 hover:ring-2 hover:bg-[color-mix(in_oklab,var(--accent-clr)_30%,white_70%)];
}

.close__modal,
#close-details-modal {
    @apply cursor-pointer;
}
